.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding: 0%;
    padding-bottom: 3%;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'ABeeZee', sans-serif;
}
h1 {
    color: black;
    text-decoration: none;
    text-align: center;
    margin-right: 75px;
    font-family: 'Indie Flower', sans-serif;
}
.vitrine{
    background-color: red;
    border: white;
    border-radius: 5px;
    color:white
    font-family: 'Agbalumo', sans-serif;
    font-size: 20px;   
}
h2 {
    color: black;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
    margin-right: 75px;
    padding-top: 1%;
    font-family: 'Indie Flower', sans-serif;
}

h3 {
    color: rgb(238, 204, 12);
    text-decoration: none;
    text-align: center;
    margin-right: 75px;
    font-size: 22px;
    font-family: 'Indie Flower', sans-serif;
}

p {
        color: black;
        text-decoration: none;
        font-family: 'Indie Flower', sans-serif;
        font-size: 18px;
}
main {
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction:column;
        align-items: center;
    }
.slid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding-left: 30px;
}
.lu{
    p{
        color: black;
        text-decoration: none;
        font-family: 'Indie Flower', sans-serif;
        font-size: 18px;
        text-align: center;
        align-self: center;
        margin-top: 10px;    
         margin-bottom: 10px;
        margin-left: 20px;  
        margin-right: 20px; 
    }
}
.bouton{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: #3498db;
    color: #f9f900;
    border-radius: 5px;
    align-items: center;
    padding-bottom: 10px;
}
.lu{
    display: flex;
    flex-direction:column;
    align-items: center;
}