.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding: 0%;
    padding-bottom: 3%;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'Agbalumo', sans-serif;
}
.vitrine{
    background-color: red;
    border: white;
    border-radius: 5px;
    color:white
    font-family: 'Agbalumo', sans-serif;
    font-size: 20px;   
}
h1{
    color:black;
    text-decoration: none;
    text-align: center;
    font-family: 'Pacifico', sans-serif;
    font-size: 80px;
    }
.essai{
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: rgb(255, 0, 0);
    border-color: red;
    font-size: 25px;
    color:beige  
}   
h2{
        color:black;
        text-decoration: none;
        text-align: center;
        padding-top: 1%;
        font-family: 'Pacifico', sans-serif;
        font-size: 33px;
        }    
h3{
            color:rgb(124, 107, 11);
            text-decoration: none;
            text-align: center;
            font-family: 'Pacifico', sans-serif;
            font-size: 20px;
        }    
main {
            width: 80%;
            height: 50%;
            display: flex;
            flex-direction:column;
            align-items: center;
}
.slid {
            width: 80%;
            height: 50%;
            display: flex;
            flex-direction:column;
            align-items: center;
}
footer {
            color:rgb(10, 10, 10);
            text-decoration: none;
            background-color: grey;
            text-align: center;
            font-family: 'Pacifico', sans-serif;
            font-size: 20px;   
}