.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    font-size: 20px;
    padding: 0%;
    padding-bottom: 3%;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
    font-family: 'ABeeZee', sans-serif;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 311px;
    height: 326px;
}
.app{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;
}
h1 {
    color: black;
    text-decoration: none;
    text-align: center;
    margin-right: 75px;
    font-family: 'Agbalumo', sans-serif;
}
.vitrine{
    background-color: red;
    border: white;
    border-radius: 5px;
    color:white
    font-family: 'Agbalumo', sans-serif;
    font-size: 20px;   
}
h2 {
    color: black;
    text-decoration: none;
    text-align: center;
    margin-right: 75px;
    padding-top: 1%;
    font-family: 'Agbalumo', sans-serif;
}

h3 {
    color: rgb(5, 53, 103);
    text-decoration: none;
    text-align: center;
    margin-right: 75px;
    font-family: 'Agbalumo', sans-serif;
}

main {
    width: 80%;
    height: 50%;
    display: flex;
    flex-direction:column;
    align-items: center;
}
.corps{
    color: rgb(5, 53, 103);
    text-decoration: none;
    text-align: left;
    margin-top: 10px;    
     margin-bottom: 10px;
    margin-left: 60px;  
    margin-right: 20px; 
    font-family: 'Agbalumo', sans-serif;
    font-size: 20px;
}
.bouton{

        display: flex;
        flex-direction:column;
        align-items: center;
        background-color: rgb(255, 255, 255);
        border-color: rgb(0, 72, 255);
        font-size: 25px;
        color:beige  
}